@import "tailwindcss";

.prose p, hr{
  margin-top: 0;
  margin-bottom: 1em;
}

* {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}


/* Scroll bar global pentru toate elementele care fac overflow */
::-webkit-scrollbar {
  width: 12px; /* lățimea scroll-ului vertical */
  height: 12px; /* lățimea scroll-ului orizontal */
}

::-webkit-scrollbar-track {
  background: #111026; /* track-ul scroll-ului (fundalul) */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #6a5cff; /* culoarea thumb-ului (degetului scroll-ului) */
  border-radius: 6px;
  border: 3px solid #111026; /* padding între track și thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #7e6fff; /* culoare la hover */
}

/* Pentru Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #6a5cff #111026;
}
